@import url(header.css);
@import url(hero.css);

@font-face {
  font-family: "Cinzel";
  src: url(../fonts/Cinzel-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: #722f37;
  --secondary-color: #e5e7eb;

  --title-color: #000000;
  --text-primary-color: #374151;
  --text-secondary-color: #ffffff;
  --text-hover-color: #e1b7bc;

  --text-weight: 300;
  --title-weight: 800;
}

body,
header,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter";
  font-weight: var(--text-weight);
  font-size: 16px;
  background-color: var(--secondary-color);
}

/* section {
  padding: 0, 10px;
} */

@media screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
