.hero {
  text-align: center;
}
.hero-title h1 {
  font-size: 36px;
}

.hero-title h2 {
  font-size: 26px;
  line-height: 25px;
  margin-top: 20px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel";
  font-weight: var(--title-weight);
  color: var(--title-color);
  height: 200px;
  background: url(../img/hero-desktop.png) no-repeat;
  background-size: auto;
  background-position: center top;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 52px;
  border-radius: 16px;
  font-weight: var(--text-weight);
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px;
}

.hero p {
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
}
